{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shri</title>
    {% block css_file %}
    {% endblock %}
</head>
<body>
    <div class="body2">
        <header class="header">
            {% block header %}
            {% endblock %}
        </header>

        {% block content %}
        {% endblock %}
        <footer>
            <p class="p1">© 2021. Made by Keshav Mohta & Sandeep Verma.</p><br>
            <p class="p2">Shri, A price update notifier.</p>
        </footer>
    </div>
    
</body>