{% extends 'base.html' %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/terms_and_conditions.css' %}">
{% endblock %}

{% block header %}
<img class="logo" src="{% static 'image/logo.png' %}" alt="Shri">
<div class="header-right">
    <a class="home" href="/">Home</a>
    <a class="about" href="{% url 'about' %}">About</a>
    <a class="terms_and_conditions" id="active" href="{% url 'terms_and_conditions' %}">Terms & Conditions</a>
</div>
{% endblock %}

{% block content %}
<div class="terms_and_conditions">
    1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nulla dolores beatae aspernatur? Rerum voluptatum
    temporibus in deleniti alias libero nam, accusantium illo quo fugit laudantium corrupti molestiae tempora, labore
    hic
    minus. Reprehenderit maxime quaerat modi in fuga assumenda itaque dicta obcaecati dolorem est ea libero non adipisci
    illo, facere incidunt quis! Iste facere enim harum ea natus ipsam rerum provident debitis aspernatur, laborum
    accusamus
    nulla adipisci. Omnis aspernatur non quaerat in culpa recusandae hic consectetur tempore consequuntur ea soluta,
    sunt
    nam doloribus eos quod accusamus maxime molestias perferendis voluptatibus ipsa facilis, expedita odit eius. Quidem
    at
    accusamus vel dolorem!
    <br>
    2. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint reiciendis rerum officia saepe asperiores neque
    quidem
    quis corporis non. Quidem voluptatibus reiciendis cum ipsum officia vel, molestias architecto itaque eos aspernatur
    saepe sed illo ut consequatur provident ex deserunt repudiandae esse id, eligendi cupiditate blanditiis! Facilis
    modi
    vel facere, harum adipisci atque incidunt et perspiciatis nesciunt aperiam optio eos omnis.
    <br>
    3. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur labore sit incidunt animi a, consectetur enim
    fuga
    repellat tempore dicta adipisci ipsum quia laboriosam culpa dolor, error, vero dolorum quasi? Quis ratione
    necessitatibus eveniet provident quibusdam ipsum asperiores veniam deleniti. Facere porro atque, commodi quam
    excepturi
    error animi ab officiis sunt nemo magni? Culpa aliquid esse ullam autem accusantium eaque perspiciatis, doloribus
    vel
    hic nostrum? Quos, fugiat fuga. Deleniti sapiente similique quo corporis consequuntur laborum dignissimos ducimus
    molestias voluptatibus consectetur cum nam repellendus fugiat tempore iusto, fugit impedit qui. Animi?
    <br>
    4. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, dolorem facilis ipsam voluptate ut ratione unde
    totam aspernatur officia minus tempora repellat fuga aliquam autem debitis enim quidem porro corrupti.
    <br>
    5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cupiditate, illum qui veritatis, tenetur
    doloribus
    laboriosam incidunt reiciendis animi voluptates ab non optio eaque aliquam minima. Consectetur esse dolorum totam
    accusantium ad debitis, quaerat magnam deserunt atque nisi molestias corrupti commodi iure, assumenda illum officia
    ducimus recusandae? Libero atque, labore explicabo ipsa minus veritatis nobis earum sunt accusamus repudiandae neque
    animi optio quaerat laudantium facilis, nemo eius. Culpa odio eveniet fuga minima sequi at rerum dignissimos sunt
    officiis dolores, id delectus quia et placeat eius? Deleniti, repellat quibusdam quidem cumque corporis quisquam
    veniam
    consectetur ad ab praesentium eveniet, vero dolores harum ipsum obcaecati necessitatibus consequatur! Harum,
    architecto
    fugiat. Consectetur, provident modi alias eaque quasi autem nostrum totam. Explicabo officia pariatur eum.
    Doloremque
    voluptates similique perspiciatis expedita non deserunt, blanditiis animi quibusdam inventore, modi, eum ipsum nam
    repellat quidem. Magnam recusandae deleniti possimus, eaque harum ipsam reprehenderit veritatis veniam nostrum.
    <br>
    6. Doloribus numquam sapiente pariatur optio esse facere neque corporis quae sequi atque suscipit fuga modi
    architecto
    animi assumenda? Quod reprehenderit consequatur mollitia in dolorum consequuntur, perspiciatis commodi vel
    repellendus
    minus corrupti animi nemo neque, voluptatum hic cum sint aperiam excepturi unde quisquam quos! Nihil, aliquam quam
    repellendus, culpa sint illum ipsam excepturi hic doloribus aspernatur labore ex porro accusamus cumque officia
    suscipit
    ea? Quis nemo ab id repudiandae animi magnam reprehenderit fuga aut, cum reiciendis fugiat illum exercitationem
    ratione
    dicta eveniet sunt laudantium consectetur eligendi, accusamus odio omnis neque. Illum fugit placeat ipsa velit a
    vitae
    nesciunt est minima impedit, nihil nostrum voluptates in odio, repellendus explicabo dolor officia repellat sequi!
</div>
{% endblock %}